beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
html5lib==1.0.1
idna==2.8
Markdown==3.1.1
markdown-captions==2
mkdocs==1.0.4
mkdocs-cinder==0.17.0
mkdocs-ivory==0.4.0
mkdocs-material==4.5.0
mkdocs-minify-plugin==0.2.1
mkdocs-rtd-dropdown==1.0.2
mkdocs-windmill==1.0.3
pdfrw==0.4
Pillow==6.2.0
ply==3.11
pycparser==2.18
Pyphen==0.9.5
python-slugify==1.2.6
PyYAML==4.2b1
requests==2.21.0
six==1.11.0
tinycss2==1.0.0
transifex-client==0.13.7
Unidecode==1.0.23
urllib3==1.24.2
watchdog==0.9.0
WeasyPrint==51
webencodings==0.5.1
